version: "3.9"

services:
  mysql:
    image: mysql:8
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: chinmayroot
      MYSQL_DATABASE: reactecom
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  backend:
    build: .
    container_name: backend_container
    restart: always
    ports:
      - "5000:5000"
    environment:
      DATABASE_URL: "mysql://root:chinmayroot@localhost:3306/reactecom"
      JWT_SECRET: "mysupersecretkey"
    depends_on:
      - mysql
    command: >
      sh -c "npx prisma migrate deploy &&
             npm start"

volumes:
  mysql_data:
