version: "3.9"

services:
  backend:
    build: .
    container_name: socket_backend
    ports:
      - "5000:5000"
    environment:
      PORT: 5000
      JWT_SECRET: mysupersecretkey
      DATABASE_URL: mysql://root:chinmayroot@mysql:3306/reactecom
    depends_on:
      - mysql

  mysql:
    image: mysql:8.0
    container_name: mysql_db
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: chinmayroot
      MYSQL_DATABASE: reactecom
    ports:
      - "3306:3306"
    volumes:
      - mysql_data:/var/lib/mysql

volumes:
  mysql_data:
